# -*- mode: gitignore; -*-

# ignore everthing in same directory as gitignore file

/*

# then allow

!init.org
!init-dev.el
!README.org
!emacs-batch-tangle.sh
!Makefile

!straight/
straight/*
!straight/versions/
straight/versions/*
!straight/versions/default.el

!dotfiles/
dotfiles/*
!dotfiles/.bashrc

!media/
media/*
!media/emacs.svg


